/*Aqui começa a parte text-botoes*/


@media only screen and (max-width:540px){
    .minhalista{
        color: #16FC92;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
    }
}
