@media only screen and (max-width:540px) {
    .esquerda-caixa{
        width: 100%;
    }

    
    .direita-caixa {
        display: none;
    }


    .minhalista{
        font-size: 35px;
        margin: 0;
    }

    .nome-h2 {
        font-size: 18px;
        margin-left: 5%;
    }


    .text-user > p{
        font-size: 14px;
    }
    
    .bt1, .bt2 {
        width: 30%;
        margin-left: 2px;
        font-size: 12px;
    }
}

@media only screen and (max-width:350px){
    .bt1, .bt2 {
        width: 30%;
        margin-left: 2px;
        font-size: 8px;
    }
}