@media only screen and (min-width:1586px){
    .card-login  {
        max-width: 500px;
    }
}


@media only screen and (max-width:540px){
    .sessao-superior{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main-login{
        flex-direction: column;
    }

    .sessao-superior {
        align-items: center;
        height: 25%;
        
    }

    .logo-img {
        width: 70vw;
        position: absolute;
    }

    .sessao-inferior {
        height: 75%;
    }

    .card-login{
        width: 80%;
    }

    .textfield > input {
        font-size: 10pt;
    }

    .btn-entrar{
        width: 65%;
        font-size: 8pt;
    }

    .cardlogin-botoes-inferiores{
        font-size: 9px;
        width: 100%;
        height: 100%;
        font-weight: 300;
        font-size: 12pt;
    }


    .cardlogin-botoes-inferiores{
        font-size: 14px;
        
    }
}

