.sessao-superior {
    width: 100%;
    height: 25%;
    display: flex;

}

.logo-img {
    display: flex;
    position: relative;
    width: 25vw;
    left: 3%;
    top: 20%;
}

.sessao-inferior {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.direita{
    width: 50%;
}

.texto1 {
    width: 100%;
    padding-left: 5%;
    padding-top: 4%;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 30px;
}

.bts-acesso {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

.texto-membro{
    margin-left: 1.5%;
    margin-top: 0;
    display: flex;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;

}

.botoes{
    all: unset;
    width: 33vw;
    max-width:600px;
    margin-left: 1.5%;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

.nome-ou{
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    display: flex;
    margin: 8px;
    
}

.nome-ou::before,.nome-ou::after {
  content: "";
  position: absolute;
  top: 0.55em;
  width: 160px;
  max-width:600px;
  height: 0.50vh;
  background-color: white;
  left: 0.1em;
}
.nome-ou::after {
  left: initial;
  right: 0.1em;
}




