.menu-text{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    font-size: 22px;
    font-family: 'Graduate';
    color: #FFFFFF;

}

/*Aqui comeca o conteudo que vai englobar os itens*/

.conteiner-maior{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

#minhalista{
    font-weight: 300px;
    font-size: 19px;
    color: #16FC92;
}

.caixa-itens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: rgba(31, 27, 44, 0.8);
    border-radius: 20px;
    overflow-y: auto; 
}

.esquerda-form {
    display: flex;
    width: 50%;
    padding: 0 0 0 2%;
    flex-direction: column;
    justify-content: left;
}

.direita-form{
    width: 50%;
}

/* area de formatação dos inputs */

input{
    box-sizing: border-box;
    width: 70%;
    height: 2.5em;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 12px;
    color: white;
    margin-bottom: 0.5em;
}

label {
    font-family: 'Baloo Thambi 2';
    font-size: 12px;
    color: white;
    display: flex;
    font-weight: 900;
    margin-bottom: 0.5em;
}

::placeholder {
    color: #FFFFFF;
    font-size: 11px;
    text-align: left;
    font-style: italic;
    opacity: 0.8;
}

.conect{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}

.conect > p {
    font-family: 'Baloo Thambi 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin: 0 3% 0 0;
}

.conect > a {
    font-family: 'Baloo Thambi 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #16FC92;
    margin: 0px;
}

.termo {
    width: 70%;
    height: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.termo > p{
    font-size: 12px;
    font-family: 'Baloo Thambi 2';
    color: #FFFFFF;
    font-weight: 700;
    margin: 0.5%;
}

.check {
    width: 10px;
}

.bt1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.bt1 > button{
    width: 160px;
    height: 5vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    border-radius: 8px;
    justify-content: center;
}