@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    

}

body * {
    box-sizing: border-box;
}

.main{   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("/imgs/img-fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

/*Aqui começa o menu superior*/

.menu-superior{
    width: 100%;
    height: 12vh;
    background-color: black;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.menu-superior > div {
    width: 50%;
    height: 100%;

}

.img-text{
    display: flex;
    flex-direction: row;
}

.img-text > div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 40px;
}

.img-logo {
    position: relative;
    width: 12vw;
    top: 5%;
}

.text-direita{
    padding: 15px;
}

.text-direita > a {
    text-decoration: none;
    font-family: 'Graduate', cursive;
    font-style: normal;
    font-size: 20px;
    outline: none;
    line-height: 1.5;
    color: #FFFFFF;
}

.usuario{
    display: flex;
    flex-direction: row;
    align-items:right;
    
    justify-content: right;
}

.user-esquerda{
    width: 289px;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
    font-family: 'Graduate', cursive;
}

.user-esquerda > p{
    color: #FFFFFF;
    font-size: 18px;
    
}

.user-direita{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img-user{
    width: 4vw;
    border-radius: 50px;
}

/*Aqui termina o menu superior*/

.conteudo-principal{
    display: flex; 
    width: 100%; 
    height: 88vh;
    flex-direction: column;
}

.titulo-pag{
    display: flex; 
    width: 100%; 
    height: 13vh; 
    flex-direction: row;
    margin: 0;
}

.titulo-pag > div{
    width: 50%;
    height: 100%;
}


.nome-h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    color: #16FC92;
    font-style: normal;
    font-size: 22px;
}



.sub-title  {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    font-family: 'Graduate', cursive;
    color: white;
    font-style: normal;
    font-size: 14px;
    margin: 0%;
    margin-bottom: 30px;
}

.conteudo-pag{
    display: flex; 
    width: 100%; 
    height: 87vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-cinza{
    width: 97vw;
    height: 97vh;
    display: flex;
    justify-content: left;
    position: relative;
    background: #1F1B2C;
    opacity: 80%;
    border-radius: 20px;
    overflow: auto;
}

.container-cinza > div{
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.divintensesquerda{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-form{
    display: flex;
    justify-content: left;
    font-family: 'Baloo 2', cursive;
    color: #16FC92;
    font-style: normal;
    font-size: 16px;
    padding-left: 20px;
    

}

.img-logo{
    width: 12vw;
    border-radius: 60px;
    margin: 20px;
    
}

.cabecalho{
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.nome-h2 {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nome-h2 > p {
    margin: 0 0 0 2.5em;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
}

/* inicio das configurações dos inputs*/


.divintensesquerda > form{
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.input-box{
box-sizing: border-box;
width: 85%;
height: 7vh;
background: #514769;
border: 1px solid #16FC92;
border-radius: 8px;
font-family: 'Baloo Thambi 2';
font-size: 16px;
color: white;
margin-bottom: 2%;
}

.input-box > select{
    box-sizing: border-box;
    width: 85%;
    height: 7vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
}

.caixa-msg{
    box-sizing: border-box;
    width: 85%;
    height: 25vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
}

.botoes{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bt1 {
    width: 15vw;
    height: 7vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    margin-left: 5%;
    
}
.bt2 {
    width: 15vw;
    height: 7vh;
    background: #ff0202;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-left: 5%;
}

.bt1 :hover {
    background-color: #40255f;
    color: #FFFFFF;
}




::placeholder {
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

/*script novo*\
/*Aqui começa a parte text-botoes*/

.text-botoes{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
}

.text-botoes > div {
    padding-top: 1%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive; 
}

.minhalista{
    color: #16FC92;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
}


/*Aqui termina toda parte text-botoes*/

/*Aqui comeca o conteudo que vai englobar os itens*/

.conteiner-maior{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
}

.caixa-itens{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2%;
    width: 90%;
    height: 100%;
    background-color: rgba(31, 27, 44, 0.8);
    border-radius: 20px;
    overflow-y: auto; 
}
/* titulo da caixa */
.nome-h2 {
    padding-top: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 19px;
    margin: 0%;
    margin-left: 5%; 
    margin-bottom: 2%; 
}
/* area de formatação dos inputs */

.input-box > input{
    box-sizing: border-box;
    width: 337px;
    height: 5vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
    margin-bottom: 2%;
    margin-left: 5%;
}

.bt1 {
    width: 160px;
    height: 5vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    margin-left: 5%;
    border-radius: 8px;
}

::placeholder {
    color: #FFFFFF;
    font-size: 13px;
    text-align: left;
}
