/*Aqui começa a parte text-botoes*/

.text-botoes{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.text-botoes > div {
    padding-top: 1%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive; 
}

.minhalista{
    color: #16FC92;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}


/*Aqui termina toda parte text-botoes*/

/*Aqui comeca o conteudo que vai englobar os itens*/

.conteiner-maior{
    width: 100%;
    height: 90%;
   
    justify-content: center;
    position: relative;
}

.caixa-itens{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2%;
    width: 90%;
    height: 95%;
    background-color: rgba(31, 27, 44, 0.8);
    border-radius: 20px;
     
}
/* titulo da caixa */
.nome-h2 {
    padding-top: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 24px;
    margin: 0%;
    margin-left: 5%; 
    margin-bottom: 10px; 
}

.nome-h3 {
    padding-top: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 24px;
    margin: 0%;
    margin-left: 50%; 
    margin-bottom: 10px; 
}
/* area de formatação dos inputs */

.input-box > input{
    box-sizing: border-box;
    width: 337px;
    height: 5vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
}

.input-box > select{
    box-sizing: border-box;
    width: 337px;
    height: 5vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 13px;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
}

.input-box > textarea{
    box-sizing: border-box;
    width: 337px;
    height: 80px;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 13px;
    color: white;
    margin-left: 5%;
}

.bt1 {
    width: 150px;
    height: 5vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
    border-radius: 8px;
}

.bt2 {
    width: 150px;
    height: 5vh;
    background: red;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: 900;
    margin-left: 4%;
    border-radius: 8px;
}

.text-span {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo thambi',cursive;
    color: white;
    font-size: 16px;
    margin: 0%;
    margin-left: 9%; 
    font-style: italic;
}

::placeholder {
    color: #FFFFFF;
    font-size: 13px;
    text-align: left;
}

/* area de formatação dos gráfico */
.container-graf{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    width: 45%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    margin-left: 10%;
    margin-top: 4%;
    background-color: hsl(0, 0%, 98%,0.3);
} 

.graf-title{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 50%;
    align-items: center;
}
.setorb{
    
    flex-direction: column;
    top: 2%;
    justify-content:baseline;
    align-items: center;
}


.cabec-graf{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #514769;
    border: 1px solid  #16FC92;
    border-start-start-radius: 20px;
    
    
}

.corpo-graf{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
}   
.col1 {
    display: flex;
    color: white;
    width: 10%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
     
}

.col1-1 {
    display: flex;
    color: white;
    width: 10%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
     
}

.col2 {
    display: flex;
    color: white;
    width: 25%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col2-1 {
    display: flex;
    color: white;
    width: 25%;
     height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: left;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
    padding-left: 2%;
}  

.col3 {
    display: flex;
    color: white;
    width: 25%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col3-1 {
    display: flex;
    color: white;
    width: 25%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
} 

.col4 {
    display: flex;
    color: white;
    width: 20%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col4-1 {
    display: flex;
    color: white;
    width: 20%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}    

.col5 {
    display: flex;
    color: white;
    width: 10%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col5-1 {
    display: flex;
    color: white;
    width: 10%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}


.col6 {
    display: flex;
    color: white;
    width: 20%;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}

.col6-1 {
    display: flex;
    color: white;
    width: 20%;
    height: 25px;
    border: 1px solid  #16FC92;
    align-items: center;
    justify-content: center;
    font-family: "Baloo",cursive;
    font-size: 14px;
    font-weight: 900;
}



.tag img{
    border-radius: 20px;
    width: 22px;
    height: 22px;
}

.lixeira {
    
    width: 30px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: right;
    position: absolute;
        top: 90%;
        left: 90%;
}

