/*Aqui começa a parte text-botoes*/

#contato{
    color: #16FC92;
}



.text-botoes{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: column;
}

.text-botoes > div {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    
}

.minhalista{
    color: #16FC92;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}


/*Aqui termina toda parte text-botoes*/

/*Aqui comeca o conteudo que vai englobar os itens*/

.conteiner-maior{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
    
}

.caixa-itens{

    display: flex;
    flex-direction: column;
    top: 2%;
    width: 90%;
    height: 100%;
    background-color: rgba(31, 27, 44, 0.8);
    border-radius: 20px;
    position: relative;
    overflow:auto;
    
    
    
}



.titulo-pag{
    display: flex; 
    width: 100%; 
    height: 14vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome-h1 {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Graduate', cursive;
    color: white;
    font-style: normal;
    font-size: 22px;
}

.sub-title1  {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graduate', cursive;
    color: white;
    font-style: normal;
    font-size: 24px;
    margin: 0px;
}
.sub-title2  {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graduate', cursive;
    color: white;
    font-style: normal;
    font-size: 22px;
    margin: 0px;
    
}

.conteudo-pag{
    display: flex; 
    width: 100%; 
    height: 74vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.cabecalho{
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.nome-h2 {
    padding-top: 1%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Baloo 2',cursive;
    color: #16FC92;
    font-weight: 600;
    font-size: 24px;
    margin: 0%;
    margin-left: 5%; 
    margin-bottom: 10px; 
}

/* inicio das configurações dos inputs*/

.input-box > input{
    box-sizing: border-box;
    width: 337px;
    height: 5vh;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
    
}



.input-box > textarea{
    box-sizing: border-box;
    width: 337px;
    height: 150px;
    background: #514769;
    border: 1px solid #16FC92;
    border-radius: 8px;
    font-family: 'Baloo Thambi 2';
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    margin-left: 5%;
}

.botoes {
    display: flex;
    align-items: center;
    
}
.bt1 {
    width: 150px;
    height: 5vh;
    background: #16FC92;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: 900;
    margin-left: 5%;
    border-radius: 8px;
}

.bt2 {
    width: 150px;
    height: 5vh;
    background: red;
    font-family: 'Baloo Thambi 2';
    font-size: 16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: 900;
    margin-left: 3%;
    border-radius: 8px;
}



::placeholder {
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}
